body{
    font-family: 'Castoro', serif;
   
    line-height:1.5;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}